*, *:before, *:after{box-sizing:inherit;}
*{margin:0;padding:0;border:0 none;box-sizing:border-box;}
body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin:0;padding:15px;
    overflow: scroll;
}
canvas{
    width: 626px;
    height: 313px;
}
.text{
    text-align: center;
}
.textWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}